
@{
                /**/

                ViewBag.Title = "Index";
}

<h2>Reports</h2>
<br /><br />
<a href="~/reports/inventory">Inventory Report</a>
<br />
<a href="~/reports/Sales">Sales Report</a>
