@{
    ViewBag.Title = "Home";
}
<div class="container" id="PageColor">
    <div class="jumbotron text-center" style="background-color:#431c5d">
        <h2 style="color:#c2dde6">Big Sale</h2>
        <hr />
    </div>
    <h2 class="text-left" style="color:black">Featured Vehicles</h2>
    @*row 1*@
    <div id="FeaturedVehicles">
        <div class="row">
            <div class="col-md-3" style="border:solid red;">
                <h2>Car</h2>
                <p>Year, Make, Model</p>
                <p>Price</p>
            </div>
            <div class="col-md-3" style="border:solid red;">
                <h2>Car</h2>
                <p>Year, Make, Model</p>
                <p>Price</p>
            </div>
            <div class="col-md-3" style="border:solid red;">
                <h2>Car</h2>
                <p>Year, Make, Model</p>
                <p>Price</p>
            </div>
            <div class="col-md-3" style="border:solid red;">
                <h2>Car</h2>
                <p>Year, Make, Model</p>
                <p>Price</p>
            </div>
        </div>
        @*row 2*@
        <div class="row">
            <div class="col-md-3" style="border:solid red;">
                <h2>Car</h2>
                <p>Year, Make, Model</p>
                <p>Price</p>
            </div>
            <div class="col-md-3" style="border:solid red;">
                <h2>Car</h2>
                <p>Year, Make, Model</p>
                <p>Price</p>
            </div>
            <div class="col-md-3">
                <h2>Car</h2>
                <p>Year, Make, Model</p>
                <p>Price</p>
            </div>
            <div class="col-md-3">
                <h2>Car</h2>
                <p>Year, Make, Model</p>
                <p>Price</p>
            </div>
        </div>
    </div>
</div>