<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Mode" value="GuildCarsRepositoryADO" />
    <add key="owin:AppStartup" value="GuildCarsUI.App_Start.IdentityConfig" />


  </appSettings>
  <connectionStrings>
    <add name="GuildCars" connectionString="Server=localhost;Database=GuildCars;Integrated Security = SSPI ;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>